// ==========================================================================
// Plyr Settings
// ==========================================================================

// Font
$plyr-font-family: inherit;

// Sizes
$plyr-font-size-base: 13px;
$plyr-font-size-small: 12px;
$plyr-font-size-time: 11px;
$plyr-font-size-badges: 9px;

// Other
$plyr-font-smoothing: true;
